.AppLayout nav {
    background-color: rgb(183, 181, 181);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin: 10px;
}

.AppLayout nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.AppLayout nav ul li {
    margin: 0 10px;
    font-size: 1.5rem;
}

.AppLayout nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.AppLayout nav ul li a:hover {
    color: rgb(200, 200, 255);
}